* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  justify-content: center;
}

.header-title {
  display: flex;
  justify-content: center;
}

.days-row {
  display: flex;
  justify-content: space-evenly;
}

.button {
  border: solid 3px black;
  padding: 2rem 1.5rem;
  background-color: white;
  margin-right: 2rem;
  font-size: 1rem;
}

#wednesday {
  padding: 2rem 0.9rem;
}

#thursday {
  padding: 2rem 0.9rem;
}

#friday {
  padding: 2rem 1.5rem;
}

#saturday {
  padding: 2rem 1.5rem;
}

.entry-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.add-entry-button {
  border: solid 2px black;
  padding: 0.5rem 3rem;
  background-color: white;
  font-size: 0.7rem;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
}

.modal-contents {
  width: 50%;
  border: solid;
  position: absolute;
  box-shadow: 2rem 25rem 25rem 50rem rgb(0 0 0 / 50%);
  margin-top: 7px;
}

.column-half {
  width: 50%;
}

.selection {
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

#description {
  width: 83%;
  margin-bottom: 1rem;
  border: solid black 3px;
}

select {
  border: solid black 3px;
}

.submit {
  justify-content: flex-end;
  margin: 0 4rem 1rem 0;
}

#submit {
  border: 2px solid black;
  box-shadow: 3px 3px black;
  cursor: pointer;
}

/* Schedule */
.schedule-title {
  display: flex;
  justify-content: center;
}

.t-container {
  display: flex;
  justify-content: center;
}
